@model CS_UrlRedirect.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Redirect</h4>
    <hr />

    <partial name="_RedirectForm" model="Model?.redirect">
</div>
