@model CS_UrlRedirect.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h4>Add Redirect</h4>
    <div class="row" style="justify-content: center">
        <div class="col-md-4">
            <partial name="_RedirectForm" model="Model?.redirect">
        </div>
    </div>

    <hr />

    <div style="margin: auto">
        <partial name="_RedirectsTable" model="Model?.redirects">
    </div>
</div>
